@model IEnumerable<GymXpress.Models.Compte>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Courriel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    var role = "";
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Courriel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @switch (item.Role) {
                case 1:
                    role = "Entraineur";
                    break;
                case 2:
                    role = "Administrateur";
                    break;
                default:
                    role = "Utilisateur";
                    break;
            }
            @role
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.IdCompte  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.IdCompte }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.IdCompte  })
        </td>
    </tr>
}

</table>
