@model GymXpress.Models.Plan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Voulez-vous vraiment supprimer ce plan?</h3>
<div>
    <h4>Plan - @Html.DisplayFor(model => model.Nom)</h4>
    <hr />
    <dl class="dl-horizontal">

        @Html.EditorFor(model => model.IdPlan, new { htmlAttributes = new { @type = "hidden" } })
        @Html.EditorFor(model => model.IdEntraineur, new { htmlAttributes = new { @type = "hidden" } })
        @Html.EditorFor(model => model.IdCompte, new { htmlAttributes = new { @type = "hidden" } }) 
        <dt>
            Utilisateur
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilisateur.Prenom)
            @Html.DisplayFor(model => model.Utilisateur.Nom)
        </dd>

        <dt>
            Entraineur
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entraineur.Prenom) 
            @Html.DisplayFor(model => model.Entraineur.Nom)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
