@model GymXpress.Models.Plan

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Plan</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        @Html.EditorFor(model => model.IdPlan, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
        
        <div class="form-group">
            <label class="control-label col-md-2" for="CourrielEntraineur">Courriel de l'entraineur</label>
            <div class="col-md-10">
                <input class="form-control" type="email" name="CourrielEntraineur" id="CourrielEntraineur" value="@Model.Entraineur.Courriel" />
                @Html.ValidationMessageFor(model => model.Entraineur.Courriel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="CourrielUtilisateur">Courriel de l'utilisateur</label>
            <div class="col-md-10">
                <input class="form-control" type="email" name="CourrielUtilisateur" id="CourrielUtilisateur" value="@Model.Utilisateur.Courriel" />
                @Html.ValidationMessageFor(model => model.Utilisateur.Courriel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
