@model IEnumerable<GymXpress.Models.Plan>

@{
    ViewBag.Title = "Plan d'entrainement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@if ((int)Session["role"] >= GymXpress.Models.Compte.ENTRAINEUR) {
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}

<div class="container">
@if (!Model.Any()) {
   
        <h3>
            Vous n'avez pas encore de plan d'entrainement
        </h3>
   
}
else {
    foreach (var item in Model) {

    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">@item.Nom</div>
            <!-- le nom mène vers la page de détails, cependant il n'est pas visible. le changer avec les css
            <div class="panel-heading">@Html.ActionLink(item.Nom, "Details", new { id = item.IdPlan })</div>
            -->    
            <div class="panel-body">@item.Description</div>
            <div class="panel-footer">par @item.Entraineur.Prenom @item.Entraineur.Nom</div>
            @if((int)Session["connecte"] == item.IdEntraineur || (int)Session["role"] > GymXpress.Models.Compte.ENTRAINEUR) {
            <div class="panel-footer">
                @Html.ActionLink("Edit", "Edit", new { id = item.IdPlan }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdPlan })
            </div>
            }
        </div>
    </div>
    }
}
</div>
