@model IEnumerable<GymXpress.Models.Plan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container">

@foreach (var item in Model) {

    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">@item.Nom</div>
            <!-- le nom mène vers la page de détails, cependant il n'est pas visible. le changer avec les css
            <div class="panel-heading">@Html.ActionLink(item.Nom, "Details", new {  id=item.IdPlan  })</div>
            -->    
            <div class="panel-body">Panel Content</div>
        </div>
    </div>

    <!--
            @Html.DisplayFor(modelItem => item.IdEntraineur)
            @Html.ActionLink("Edit", "Edit", new {  id=item.IdPlan  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.IdPlan })
        -->
        
}
</div>
