@model IEnumerable<GymXpress.Models.RendezVous>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var role = (int)@Session["role"];
}

<h2>Liste de vos rendez-vous</h2>


<table class="table">
    <tr>
        <th hidden>
            @Html.DisplayNameFor(model => model.IdRDV)
        </th>
        <th hidden>
            @Html.DisplayNameFor(model => model.IdDispo)
        </th>

            @if (role > 0)
            {
            <th>Client</th>
            }
            else
            {
                <th>Entraineur</th>
            }
        <th>
            @Html.DisplayNameFor(model => model.Dispo.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dispo.HeureDebut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dispo.HeureFin)
        </th>    
   


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td hidden>
            @Html.DisplayFor(modelItem => item.IdRDV)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.IdDispo)
        </td>
 
            @if (role > 0)
            {
              <td>  @item.Client.Prenom @item.Client.Nom</td>

            }
            else
             {
                 <td>@item.Entraineur.Prenom  @item.Entraineur.Nom</td>
            }
        <td>
            @Html.DisplayFor(modelItem => item.Dispo.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dispo.HeureDebut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dispo.HeureFin)
        </td>
            
        
      


        <td>
            @Html.ActionLink("Supprimer", "Delete", new { id = item.IdRDV })
        </td>
    </tr>
}

</table>
