@model IEnumerable<GymXpress.Models.RendezVous>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var role = (int)@Session["role"];
}

<h2>Liste de vos rendez-vous</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdRDV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdDispo)
        </th>

            @if (role > 0)
            {
            <th>Client</th>
            }
            else
            {
                <th>Entraineur</th>
            }
            
   


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdRDV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdDispo)
        </td>
        <td>
            @if (role > 0)
            {
                @Html.DisplayFor(modelItem => item.Client.Prenom) @Html.DisplayFor(modelItem => item.Client.Nom)

            }
            else
             {
                @Html.DisplayFor(modelItem => item.Entraineur.Prenom) @Html.DisplayFor(modelItem => item.Entraineur.Nom)
            }
            
        
        </td>


        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdRDV }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdRDV }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdRDV })
        </td>
    </tr>
}

</table>
