@model IEnumerable<GymXpress.Models.Dispo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var roleUtilisateur = (int)@Session["role"];
    var id = (int)@Session["connecte"];

}

@if (roleUtilisateur > 0)
{
<h2>Liste de vos disponibilit&eacute;s</h2>
}
else
{
    <h2>Prise de rendez-vous</h2>
}
@if (roleUtilisateur > 0)
{
<p> 
    @Html.ActionLink("Créer une nouvelle disponibilité", "Create")
</p>
}
else
{
    <p>
        Choisissez une date pour prendre un rendez-vous
    </p>
}

@if(roleUtilisateur >= 1) { 
<input type="date" id="datePicker" onchange="afficherDispoParDate(@Session["connecte"])">
<table class="table" id="liste">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdDispo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdEntraineur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeureDebut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeureFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>
</table>
}
@if (roleUtilisateur < 1)
{
    <input type="date" id="datePicker" onchange="afficherDispoPourClient(@Session["connecte"])">
    <table class="table" id="liste">
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.IdDispo)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.IdEntraineur)
            </th>
            <th>
                Entraineur
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeureDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeureFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </table>
}







<script>

    function afficherDispoParDate(id) {
        var date = $("#datePicker").val();
        $.ajax({
            type: "Post",
            url: "Dispo/ListeDispoParDate/"+id+"?date=" + date,
            datatype: "json",
            success: function (Dispo) {
                var listeParDate = "<tr>";
                listeParDate += "<th hidden>";
                listeParDate += "Id dispo";
                listeParDate += "</th>";
                listeParDate += "<th hidden>";
                listeParDate += "Id entraineur";
                listeParDate += "</th>";
                listeParDate += "<th>";
                listeParDate += "Entraineur";
                listeParDate += "</th>";
                listeParDate += "<th>";
                listeParDate += "Heure début";
                listeParDate += "</th>";
                listeParDate += "<th>";
                listeParDate += "Heure fin";
                listeParDate += "</th>";
                listeParDate += "<th>";
                listeParDate += "date";
                listeParDate += "</th>";
                listeParDate += "<th>";
                listeParDate += "</th>";
                listeParDate += "</tr>";
                for (i = 0; i < Object.keys(Dispo).length; i++) {
                    listeParDate += "<tr>";
                    listeParDate += "<td hidden>";
                    listeParDate += Dispo[i].IdDispo;
                    listeParDate += "</td>";
                    listeParDate += "<td hidden>";
                    listeParDate += Dispo[i].IdEntraineur;
                    listeParDate += "</td>";
                    listeParDate += "<td>";
                    listeParDate += Dispo[i].Entraineur.Prenom + " " + Dispo[i].Entraineur.Nom;
                    listeParDate += "</td>";
                    listeParDate += "<td>";
                    listeParDate += Dispo[i].HeureDebut;
                    listeParDate += "</td>";
                    listeParDate += "<td>";
                    listeParDate += Dispo[i].HeureFin;
                    listeParDate += "</td>";
                    listeParDate += "<td>";
                    listeParDate += Dispo[i].Date;
                    listeParDate += "</td>";
                    listeParDate += "<td>";
                    listeParDate += "<a href='Dispo/Edit/" + Dispo[i].IdDispo + "'>Edit | </a>";
                    listeParDate += "<a href='Dispo/Delete/" + Dispo[i].IdDispo + "'>Delete</a>";
                    listeParDate += "</td>";
                    listeParDate += "<tr>";
                }
                $("#liste").html(listeParDate);
            }
        });
    }

    function afficherDispoPourClient(_id) {
        var date = $("#datePicker").val();
        id = _id;
        $.ajax({
            type: "Post",
            url: "Dispo/ListeDispoPourClient/?date=" + date,
            datatype: "json",
            success: function (Dispo) {
                var listeParDate = "<tr>";
                listeParDate += "<th hidden>";
                listeParDate += "Id dispo";
                listeParDate += "</th>";
                listeParDate += "<th hidden>";
                listeParDate += "Id entraineur";
                listeParDate += "</th>";
                listeParDate += "<th>";
                listeParDate += "Entraineur";
                listeParDate += "</th>";
                listeParDate += "<th>";
                listeParDate += "Heure début";
                listeParDate += "</th>";
                listeParDate += "<th>";
                listeParDate += "Heure fin";
                listeParDate += "</th>";
                listeParDate += "<th>";
                listeParDate += "date";
                listeParDate += "</th>";
                listeParDate += "<th>";
                listeParDate += "</th>";
                listeParDate += "</tr>";
                for (i = 0; i < Object.keys(Dispo).length; i++) {
                    listeParDate += "<tr>";
                    listeParDate += "<td hidden>";
                    listeParDate += Dispo[i].IdDispo;
                    listeParDate += "</td>";
                    listeParDate += "<td hidden>";
                    listeParDate += Dispo[i].IdEntraineur;
                    listeParDate += "</td>";
                    listeParDate += "<td>";
                    listeParDate += Dispo[i].Entraineur.Prenom + " " + Dispo[i].Entraineur.Nom;
                    listeParDate += "</td>";
                    listeParDate += "<td>";
                    listeParDate += Dispo[i].HeureDebut;
                    listeParDate += "</td>";
                    listeParDate += "<td>";
                    listeParDate += Dispo[i].HeureFin;
                    listeParDate += "</td>";
                    listeParDate += "<td>";
                    listeParDate += Dispo[i].Date;
                    listeParDate += "</td>";
                    listeParDate += "<td>";
                    listeParDate += "<a href='RendezVous/Create/?idDispo=" + Dispo[i].IdDispo + "&idClient=@Session["connecte"]'> S'inscrire | </a>";
                    
                    listeParDate += "</td>";
                    listeParDate += "<tr>";
                }
                $("#liste").html(listeParDate);
            }
        });
    }






      

</script>