@model IEnumerable<GymXpress.Models.Dispo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Session["connecte"] = 1;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<input type="date" id="datePicker" onchange="afficherDispoParDate(@Session["connecte"])">
<table class="table" id="liste">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdDispo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdEntraineur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeureDebut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeureFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>
</table>







<script>
   /* $(document).ready(function () {
        $("#datePicker").on("change", afficherDispoParDate());

    });
*/

    function afficherDispoParDate(id) {
        var date = $("#datePicker").val();
        $.ajax({
            type: "Post",
            url: "Dispo/ListeDispoParDate/"+id+"?date=" + date,
            datatype: "json",
            success: function (Dispo) {
                var listeParDate = "<tr>";
                listeParDate += "<th>";
                listeParDate += "Id dispo";
                listeParDate += "</th>";
                listeParDate += "<th>";
                listeParDate += "Id entraineur";
                listeParDate += "</th>";
                listeParDate += "<th>";
                listeParDate += "Id Heure début";
                listeParDate += "</th>";
                listeParDate += "<th>";
                listeParDate += "Heure fin";
                listeParDate += "</th>";
                listeParDate += "<th>";
                listeParDate += "date";
                listeParDate += "</th>";
                listeParDate += "<th>";
                listeParDate += "</th>";
                listeParDate += "</tr>";
                for (i = 0; i < Object.keys(Dispo).length; i++) {
                    listeParDate += "<tr>";
                    listeParDate += "<td>";
                    listeParDate += Dispo[i].IdDispo;
                    listeParDate += "</td>";
                    listeParDate += "<td>";
                    listeParDate += Dispo[i].IdEntraineur;
                    listeParDate += "</td>";
                    listeParDate += "<td>";
                    listeParDate += Dispo[i].HeureDebut;
                    listeParDate += "</td>";
                    listeParDate += "<td>";
                    listeParDate += Dispo[i].HeureFin;
                    listeParDate += "</td>";
                    listeParDate += "<td>";
                    listeParDate += Dispo[i].Date;
                    listeParDate += "</td>";
                    listeParDate += "<td>";
                    listeParDate += "<a href='Edit/" + Dispo[i].IdDispo + "'>Edit | </a>";
                    listeParDate += "<a href='Delete/" + Dispo[i].IdDispo + "'>Delete</a>";
                    listeParDate += "</td>";
                    listeParDate += "<tr>";
                }

                $("#liste").html(listeParDate);

            }

        });



    }






      

</script>